{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="dashboard-container">
    <h1> Welcome {{ user.username }} </h1>
    <p>Here you can manage your children and their milestones.</p>

    <div class="children-container">
        {% if children %}
            <ul>
                {% for child in children %}
                <a href="{% url 'child-detail' child.id %}">
                    <li>
                        {{ child.name }} - 
                            {% if child.age == 1 %} 
                                {{ child.age }} year old
                            {% else %} 
                                {{ child.age }} years old
                            {% endif %}
                    </li>
                </a>
                {% endfor %}
            </ul>
        {% else %}
            <p>No children found.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
