{% extends 'base.html' %} 
{% load static %} 
{% block content %}

<div class="dashboard-container">
  <h1 class="welcome">Welcome {{ user.username }}</h1>
  <p>Manage your children and their daily activities here.</p>

  
  <div class="children-container">
      {% if children %} 
        {% for child in children %}
        <a href="{% url 'child-detail' child.id %}">
            <div class="child-card">
                <div class="child-name">{{ child.name }}</div>
                <div class="child-age">
                    {% if child.age == 1 %} 
                    {{ child.age }} year old 
                    {% else %} 
                    {{child.age }} years old 
                    {% endif %}
                </div>
            </div>
        </a>
        {% endfor %} 
      {% else %}
        <div class="add-child-button">
          <a href="{% url 'add-child' %}" class="btn-grad">New Kiddo</a>
        </div>
    {% endif %}
  </div>
</div>
{% endblock %}
