{% extends 'base.html' %} 
{% load static %} 
{% block content %}

<div class="auth-forms">
  <h1>Sign Up</h1>

  {% if error_message %}
  <p class="error-message">{{ error_message }}</p>
  {% endif %}

  <form action="" method="post" class="form-container" autocomplete="off">
    {% csrf_token %}
    <table>
      {{ form.as_p }}
    </table>
    <button type="submit" class="btn-grad">Submit!</button>
  </form>
  <p>Already have an account? <a href="{% url 'signin' %}">Login here</a>.</p>
</div>

{% endblock %}
