body {
  background: #EEAECA;
  background: linear-gradient(90deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 50%, rgba(148, 155, 233, 1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Nunito', sans-serif;
  color: white
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 32px 0px 0px;
}

.logo img {
  height: 120px;
  width: auto;
  display: block;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

}

nav ul {
  display: flex;
  list-style: none;
  padding: 5px;
}

nav ul li {
  margin: 0 20px;
  padding: 0;
}

nav ul li a,
nav ul li button,
#logout-form button {
  background-image: linear-gradient(to right, #ee9ca7db 0%, #ffdde1de 51%, #ee9ca7 100%);
  margin: 0 6px;
  padding: 10px 28px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 10px #eee;
  border-radius: 8px;
  display: block;
  border: none;
  font-size: 0.8rem;
  cursor: pointer;
}

nav ul li a:hover,
nav ul li button:hover,
#logout-form button:hover {
  background-position: right center;
  color: #e75480;;
  text-decoration: none;
  box-shadow: 0 0 20px #ee9ca7;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.home-container h1 {
  color: white;
  font-size: 10rem;
  margin-bottom: 1px;
}

.home-container p {
  color: #fffefed4;
  font-size: 1.5rem;
  margin-top: 1px;
  margin-bottom: 20px;
}

.auth-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn-grad {
  background-image: linear-gradient(to right, #ee9ca7db 0%, #ffdde1de 51%, #ee9ca7 100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.auth-forms,
.child-form,
.journal-form,
.edit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 10px #fff;
  border-radius: 50px;
  padding: 75px;
  background-color: rgba(255, 255, 255, 0.1);
  max-width: 600px;
  margin: auto;
  margin-top: 50px;
}

.auth-forms input,
.auth-forms textarea,
.child-form input,
.child-form textarea,
.journal-form input,
.journal-form textarea,
.edit-form input,
.edit-form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  font-family: inherit;
  font-size: 1rem;
  box-sizing: border-box;
}

.auth-forms button,
.child-form button,
.journal-form button,
.edit-form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

.auth-forms p {
  color: white;
  font-size: 1rem;
  margin-top: 25px;
}

.auth-forms a {
  color: #2f09ee;
  text-decoration: none;
}

.auth-forms a:hover {
  text-decoration: underline;
}

.auth-forms label,
.child-form label,
.journal-form label,
.edit-form label {
  font-weight: bold;
  color: white;
  display: block;
}

.auth-forms p.error-message {
  color: #e75480;
  font-size: 1rem;
  font-weight: bold;
}

.form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.form-header h1 {
  font-size: 2.5rem;
}

.form-header h1,
.form-header p {
  margin: 0;
}

.journal-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

.journal-header h1 {
  color: #fff;
  font-size: 3rem;
  font-weight: 800;
  margin: 0;
}

.journal-container {
  background: rgba(255,255,255,0.2);
  border-radius: 30px;
  max-width: 800px;
  margin: 0 auto;
  padding: 32px 32px 24px 32px;
  max-height: 600px; /* Need to set maximum height to allow for scrollinh*/
  overflow-y: auto; /* Allows scrolling */
  box-shadow: 0 2px 8px 0 rgba(148, 187, 233, 0.10);
}

.journal-container .journal-list-container {
  display: flex;
  justify-content: center;
  margin-bottom: 18px;
  width: 100%;
}

ul.journal-list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 700px;
  padding: 0 16px
}

li.journal-entry {
  background: rgba(255,255,255,0.13);
  border-radius: 12px;
  margin-bottom: 16px;
  padding: 18px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.1rem;
  box-shadow: 0 2px 8px 0 rgba(148, 187, 233, 0.10);
  width: 100%;
  box-sizing: border-box;
}

li.journal-entry a {
  color: #e75480;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.2s;
}

li.journal-entry a:hover {
  color: white;
}

.journal-date {
  font-size: 1.1em;
  margin-left: 24px;
  min-width: 100px;
  text-align: right;
}

.add-journal-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 20px;
}

.add-journal-btn a {
  background-image: linear-gradient(to right, #ee9ca7db 0%, #ffdde1de 51%, #ee9ca7 100%);
  color: #fff;
  font-weight: bold;
  padding: 12px 36px;
  border-radius: 12px;
  text-decoration: none;
  box-shadow: 0 2px 16px #e75480a0;
  transition: background-position 0.5s, box-shadow 0.3s, color 0.2s;
  background-size: 200% auto;
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: 1px;
  border: none;
  outline: none;
  display: inline-block;
  margin-bottom: 10px;
}

.add-journal-btn a:hover {
  background-position: right center;
  box-shadow: 0 0 32px #ee9ca7;
  color: #e75480;
}
